@using MKTListNet.Areas.Admin.Controllers;
@model RetAddEmail
@{
}

<div class="container-fluid">
    <div class="h4">
        Adicionar Emails
        <hr class="my-2" />
    </div>

    @if (Model != null)
    {
        <div class="row">
            <div class="col">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <b>Emails adicionados (@Model.EmailAdd.ToString("N0")) - Emails rejeitados (@Model.EmailReject.ToString("N0"))</b>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="border rounded p-3">
                <div class="alert alert-secondary">
                    Adicione um email por linha
                </div>
                <form asp-action="AddEmails" asp-controller="Emails" asp-area="Admin" method="post">
                    <textarea class="form-control" style="height:400px;" name="emails" autofocus>@ViewBag.lstCodes</textarea>
                    <br />
                    <div class="col-5 mx-auto">
                        <input class="form-control btn btn-primary" type="submit" value="Importar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
